**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/out
**/node_modules
**/.idea
**/*.user
**/*.suo
**/*.cache
**/*.log
**/logs
**/.DS_Store
**/Thumbs.db
.dockerignore
Dockerfile
README.md
.gitignore
.gitattributes
tests/
